<div>
  {{#each this}}
    <div>
    {{#each children}}
      <div class="account">
        <span class="account-title">{{description}}</span>
        <div class="account-details">{{formatNumber balance style="currency" currency="EUR"}}</div>
        <div class="tiny-button expand" onclick="Home.expand(this, '{{json this}}')">+</div>
        <div class="tiny-button collapse hidden" onclick="Home.collapse(this, '{{json this}}')">-</div>
      </div>
    {{/each}}
    </div>
  {{/each}}
</div>
