<div>
  {{#each this}}
    <div>
    {{#each children}}
      <div class="account">
        <span class="account-title">{{description}}</span>
        <div class="account-details">{{formatNumber balance style="currency" currency="EUR"}}</div>
        <div class="expand " onclick="Home.expand(this, '{{json this}}')"><span class="fa fa-plus"></span></div>
        <div class="collapse hidden " onclick="Home.collapse(this, '{{json this}}')"><span class="fa fa-minus"></span></div>
      </div>
    {{/each}}
    </div>
  {{/each}}
</div>
