<i>Home content.</i>

<div id="viz">
</div>

<script>
  (function () {
    const app = require("./lib/app");
    const View = require("./lib/view");

    app.on(app.events.accountsRead, function (accounts) {
      showAccountTree(accounts);
    });

    let showAccountTree = function (accounts) {
      var view = new View("accounts");
      view.toHtml(accounts, function (html) {
        $("#viz").html(html);
      });
    };

    app.emit(app.events.readAccounts);
  }());
</script>
