body {
  font: caption;
}

.nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  width: 42px;
  margin: 0;
  padding-top: 15px;
  padding-left: 10px;

  color: #CCCCCC;
  background-color: #181818;

  font-size: 2em;
}

.nav-item {
  padding-top: 10px;
  padding-bottom: 10px;

  border-bottom: 1px solid #282828;
}

.nav-item:hover {
  color: #ECECEC;
}

#content {
  margin-left: 60px;
}

ul {
  padding: 0;
}

.account {
  position: relative;

  height: 40px;
  margin-bottom: 10px;
  padding: 10px;
  padding-bottom: 2px;

  list-style: none;

  color: #666666;
  border: 1px solid #EFEFEF;
  border-radius: .2em;
}

.account:hover {
  background-color: #EFEFEF;
}

.account-title {
  font-weight: bold;
}

.account-details {
  padding-top: .2em;

  font-size: smaller;
  font-weight: lighter;
}

.expand {
  position: absolute;
  top: 0;
  right: 0;

  margin: 5px;
  margin-right: 10px;

  cursor: default;
}

.collapse {
  position: absolute;
  top: 0;
  right: 0;

  margin: 5px;
  margin-right: 10px;

  cursor: default;
}

.hidden {
  display: none;
}
