body {
  font: caption;
}

.nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  width: 42px;
  margin: 0;
  padding-top: 15px;
  padding-left: 10px;

  color: #CCCCCC;
  background-color: #181818;

  font-size: 2em;
}

.nav-item {
  padding-top: 10px;
  padding-bottom: 10px;

  border-bottom: 1px solid #282828;
}

.nav-item:hover {
  color: #ECECEC;
}

#content {
  margin-left: 60px;
}

.hidden {
  display: none;
}
