body {
  font: caption;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  margin: 0;

  width: 42px;

  font-size: 2em;
  color: #CCCCCC;
  padding-top: 15px;
  padding-left: 10px;

  background-color: #181818;
}

.nav-item {
  border-bottom: 1px solid #282828;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-item:hover {
  color: #ECECEC;
}

#content {
  margin-left: 60px;
}

ul {
  padding: 0;
}

.account {
  list-style: none;

  height: 40px;
  padding: 10px;
  padding-bottom: 2px;
  margin-bottom: 10px;

  color: #666666;

  border-radius: .2em;
  border: 1px solid #EFEFEF;
}

.account:hover {
  background-color: #EFEFEF;
}

.account-title {
  font-weight: bold;
}

.account-details {
  font-size: smaller;
  font-weight: lighter;
  padding-top: .2em;
}
